body{
    background: radial-gradient(circle, rgb(15, 216, 163) 0%, rgb(8, 212, 131) 100%); 
 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    position: relative;
    left: 2em;
}
.header{
    text-align: center;
    height: 3em;
    width: 100%;
    background-color: yellow;
    box-shadow: 1px 5px 5px red;
}
.heading{
    font-size: 30px;
    margin: 0px;
}
.main-div{
    text-align: center;
    box-shadow: 1px 5px 5px red;
    height: 20em;
    width: 20em;
    position: relative;
    left: 40%;
    top: 12PX;
     background-color: yellow;
}
input{
    margin: 20px;
}
#email{
    position: relative;
    right: -15px;
}

label{
    position: relative;
    left: -6px;
}

button{
    cursor: pointer;
    position: relative;
    top: 55px;
    border-radius: 5px;
    height: 3em;
    width: 9em;
}

button:hover{
    background-color:rgb(32, 178, 44);
    
}