
body{
    margin: 0PX;
    background: radial-gradient(circle, rgb(175, 232, 18) 0%, rgb(29, 100, 171) 100%); 
    font-family: 'Roboto', sans-serif;
}
h1{
 
    text-align: center;
   
}
.header{
    text-align: center;
    height: 3em;
    width: 100%;
    background-color: yellow;
    box-shadow: 1px 5px 5px red;
}
.heading{
    font-size: 30px;
    margin: 0px;
}
.form-div{
    position: relative;
    left: 34%;
    background-color: yellow;
height: 22em;
width: 30em;
text-align: center;
box-shadow: 1px 5px 5px red;
}
button{

    height: 3em;
    width: 12em;
    margin-top: 20px;
}
label{
    position: relative;
left: 1em;

} 

input{
    position: relative;
    left: 51px;
    margin-top: 30px;
}
#name{
    position: relative;
    left: 83px;
}
#email{
    position: relative;
    left: 86px;
}

#password{
    position: relative;
    left: 70px;
}

#image{
    position: relative;
    left: 123px;
}
.image{
    position: relative;
    left: 58px;
}